{% extends "base.html" %}
{% load static %}
{% block title %}
Products
{% endblock title %}
{% block body %}

<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h2 class="title-page"> Favorite Products</h2>
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li class="active">Account</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="products section">
    <div class="container">
        {% include "includes/alerts.html" %}
        <div class="row">
            <div class="col-md-12">
                <!-- Check if there are products -->
                {% if products %}
                <div class="product-count">
                    <h3 class="product-count-title">Total Products</h3>
                    <span class="product-count-badge">{{ product_count }}</span>
                </div>
                <div class="row">
                    {% for product in products %}
                    <div class="col-md-3">
                        <div class="product-item">
                            <div class="product-thumb">
                                {% if product.on_sale %}
                                <span class="bage">Sale</span>
                                {% endif %}
                                <img class="img-responsive object-fit-contain" width="300px" height="300px"
                                    src="{{product.image.url}}" alt="product-img" />
                                <div class="preview-meta">
                                    <ul>
                                        <li>
                                            <span data-toggle="modal" data-target="#product-modal-{{ product.id }}">
                                                <i class="tf-ion-ios-search-strong"></i>
                                            </span>
                                        </li>
                                        <li>
                                            {% if request.user in product.like.all %}
                                            <a href="{% url 'add_to_favourit' product.id%}"><i
                                                    class="fa-solid fa-heart"></i></a>
                                            {% else %}
                                            <a href="{% url 'add_to_favourit' product.id%}"><i
                                                    class="fa-regular fa-heart"></i></a>
                                            {% endif %}
                                        </li>
                                        <li>
                                            <a href="{% url 'add_to_cart' product.id %}"><i
                                                    class="tf-ion-android-cart"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h4><a href="{% url 'product_details' product.id %}">{{ product.name }}</a></h4>
                                <p class="price">${{ product.price }}</p>
                            </div>
                        </div>
                    </div>

                    <!-- Modal for each product -->
                    <div class="modal product-modal fade" id="product-modal-{{ product.id }}" tabindex="-1"
                        role="dialog">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="tf-ion-close"></i>
                        </button>
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-6 col-xs-12">
                                            <div class="modal-image">
                                                <img class="img-responsive" src="{{ product.image.url }}"
                                                    alt="product-img" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div class="product-short-details">
                                                <h2 class="product-title">{{ product.name }}</h2>
                                                <p class="product-price">${{ product.price }}</p>
                                                <p class="product-short-description">
                                                    {{ product.description|truncatechars:200 }}
                                                </p>

                                                <a href="{% url 'add_to_cart' product.id %}" class="btn btn-main">Add To
                                                    Cart</a>
                                                <a href="{% url 'product_details' product.id %}"
                                                    class="btn btn-transparent">View Product
                                                    Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.modal -->
                    {% endfor %}
                </div>
                {% else %}
                <!-- Show professional message when no products are available -->
                <div class="no-products-message">
                    <h3 class="text-center">No Products Found</h3>
                    <p class="text-center">
                        It looks like there are no products available in this category at the moment. We frequently
                        update our catalog, so be sure to check back soon.
                        In the meantime, feel free to explore other sections of our store or <a href="/">reach out to
                            our team</a> if you have any questions or need assistance finding the perfect item.
                    </p>
                </div>
                {% endif %}
            </div>
        
        </div>
        <div class="text-center">
            <ul class="pagination post-pagination">
                {% if products.has_previous %}
                <li><a href="?page={{ products.previous_page_number }}">Prev</a></li>
                {% else %}
                <li class="disabled"><span>Prev</span></li>
                {% endif %}

                {% for page_num in products.paginator.page_range %}
                {% if products.number == page_num %}
                <li class="active"><span>{{ page_num }}</span></li>
                {% else %}
                <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                {% endif %}
                {% endfor %}

                {% if products.has_next %}
                <li><a href="?page={{ products.next_page_number }}">Next</a></li>
                {% else %}
                <li class="disabled"><span>Next</span></li>
                {% endif %}
            </ul>
        </div>
    </div>
</section>


{% endblock %}