{% extends "base.html" %}
{% load static %}
{% block title %}
{{single_product.name}}
{% endblock title %}
{% block body %}

<section class="single-product">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<ol class="breadcrumb">
					<li><a href="/">Home</a></li>
					<li><a href="{% url 'product_list'%}">Shop</a></li>
					<li class="active">Single Product</li>
				</ol>
			</div>
			<div class="col-md-6">
				<ol class="product-pagination text-right">
					<li><a class="badge bg-danger py-2 px-4" href="{% url 'product_list' %}">Out of Stock</a></li>
				</ol>
			</div>
		</div>
		<div class="row mt-20">
			<div class="col-md-5">
				<div class="single-product-slider">
					<div id='carousel-custom' class='carousel slide' data-ride='carousel'>
						<div class='carousel-outer'>
							<!-- Main slider -->
							<div class='carousel-inner'>
								<!-- Display the main image first -->
								<div class='item active'>
									<img src="{{ single_product.image.url }}" alt='Main Product Image'
										data-zoom-image="{{ single_product.image.url }}" />
								</div>

								<!-- Display the product gallery images -->
								{% for image in product_gallary %}
								<div class='item'>
									<img src="{{ image.image.url }}" alt='Product Image'
										data-zoom-image="{{ image.image.url }}" />
								</div>
								{% endfor %}
							</div>

							<!-- Left and right controls -->
							<a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
								<i class="tf-ion-ios-arrow-left"></i>
							</a>
							<a class='right carousel-control' href='#carousel-custom' data-slide='next'>
								<i class="tf-ion-ios-arrow-right"></i>
							</a>
						</div>

						<!-- Thumbnail indicators -->
						<ol class='carousel-indicators mCustomScrollbar meartlab'>
							<!-- Main image thumbnail first -->
							<li data-target='#carousel-custom' data-slide-to='0' class='active'>
								<img src="{{ single_product.image.url }}" alt='Main Product Thumbnail' />
							</li>

							<!-- Gallery image thumbnails -->
							{% for image in product_gallary %}
							<li data-target='#carousel-custom' data-slide-to='{{ forloop.counter }}'>
								<img src="{{ image.image.url }}" alt='Product Thumbnail' />
							</li>
							{% endfor %}
						</ol>
					</div>
				</div>

			</div>
			<div class="col-md-7">
				<div class="single-product-details">
					<h2>{{single_product}}</h2>
					<p class="product-price">${{single_product.price}}</p>

					<p class="product-description mt-20">
						{{single_product.description}}
					</p>
					<div class="color-swatches">
						<span>color:</span>
						<ul>
							<li>
								<a href="#!" class="swatch-violet"></a>
							</li>
							<li>
								<a href="#!" class="swatch-black"></a>
							</li>
							<li>
								<a href="#!" class="swatch-cream"></a>
							</li>
						</ul>
					</div>
					<div class="product-size">
						<span>Size:</span>
						<select class="form-control">
							<option>S</option>
							<option>M</option>
							<option>L</option>
							<option>XL</option>
						</select>
					</div>
					<div class="product-quantity">
						<span>Quantity:</span>
						<div class="product-quantity-slider">
							<input id="product-quantity" type="text" value="0" name="product-quantity">
						</div>
					</div>
					<div class="product-category">
						<span>Category:</span>
							<a class="badge py-2 px-4" href="{{single_product.category.get_url}}">{{single_product.category}}</a>
					</div>
					<a href="cart.html" class="btn btn-main mt-20">Add To Cart</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="tabCommon mt-20">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#details" aria-expanded="true">Details</a></li>
						<li class=""><a data-toggle="tab" href="#reviews" aria-expanded="false">Reviews (3)</a></li>
					</ul>
					<div class="tab-content patternbg">
						<div id="details" class="tab-pane fade active in">
							<h4>Product Description</h4>
							<p>{{single_product.description}}</p>

						</div>
						<div id="reviews" class="tab-pane fade">
							<div class="post-comments">
								<ul class="media-list comments-list m-bot-50 clearlist">
									<!-- Comment Item start-->
									<li class="media">

										<a class="pull-left" href="#!">
											<img class="media-object comment-avatar" src="images/blog/avater-1.jpg"
												alt="" width="50" height="50" />
										</a>

										<div class="media-body">
											<div class="comment-info">
												<h4 class="comment-author">
													<a href="#!">Jonathon Andrew</a>

												</h4>
												<time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
												<a class="comment-button" href="#!"><i
														class="tf-ion-chatbubbles"></i>Reply</a>
											</div>

											<p>
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at
												magna ut ante eleifend eleifend.Lorem ipsum dolor sit amet, consectetur
												adipisicing elit. Quod laborum minima, reprehenderit laboriosam officiis
												praesentium? Impedit minus provident assumenda quae.
											</p>
										</div>

									</li>
									<!-- End Comment Item -->

									<!-- Comment Item start-->
									<li class="media">

										<a class="pull-left" href="#!">
											<img class="media-object comment-avatar" src="images/blog/avater-4.jpg"
												alt="" width="50" height="50" />
										</a>

										<div class="media-body">

											<div class="comment-info">
												<div class="comment-author">
													<a href="#!">Jonathon Andrew</a>
												</div>
												<time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
												<a class="comment-button" href="#!"><i
														class="tf-ion-chatbubbles"></i>Reply</a>
											</div>

											<p>
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at
												magna ut ante eleifend eleifend. Lorem ipsum dolor sit amet, consectetur
												adipisicing elit. Magni natus, nostrum iste non delectus atque ab a
												accusantium optio, dolor!
											</p>

										</div>

									</li>
									<!-- End Comment Item -->

									<!-- Comment Item start-->
									<li class="media">

										<a class="pull-left" href="#!">
											<img class="media-object comment-avatar" src="images/blog/avater-1.jpg"
												alt="" width="50" height="50">
										</a>

										<div class="media-body">

											<div class="comment-info">
												<div class="comment-author">
													<a href="#!">Jonathon Andrew</a>
												</div>
												<time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
												<a class="comment-button" href="#!"><i
														class="tf-ion-chatbubbles"></i>Reply</a>
											</div>

											<p>
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at
												magna ut ante eleifend eleifend.
											</p>

										</div>

									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="products related-products section">
	<div class="container">
		<div class="row">
			<div class="title text-center">
				<h2>Related Products</h2>
			</div>
		</div>
		<div class="row">
			{% for product in related %}
			<div class="col-md-3">
				<div class="product-item">
					<div class="product-thumb">
						<span class="bage">Sale</span>
						<img class="img-responsive" src="{{product.image.url}}" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span data-toggle="modal" data-target="#product-modal-{{ product.id }}">
										<i class="tf-ion-ios-search"></i>
									</span>
								</li>
								<li>
									<a href="#"><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="product-content">
						<h4><a href="{% url 'product_details' product.id %}">{{product.name}}</a></h4>
						<p class="price">${{product.price}}</p>
					</div>
				</div>
			</div>
			<!-- Modal -->
			<div class="modal product-modal fade" id="product-modal-{{ product.id }}">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<i class="tf-ion-close"></i>
				</button>
				<div class="modal-dialog " role="document">
					<div class="modal-content">
						<div class="modal-body">
							<div class="row">
								<div class="col-md-8">
									<div class="modal-image">
										<img class="img-responsive" src="{{product.image.url}}" />
									</div>
								</div>
								<div class="col-md-3">
									<div class="product-short-details">
										<h2 class="product-title">{{product.name}}</h2>
										<p class="product-price">${{product.price}}</p>
										<p class="product-short-description">
											{{product.description}}
										</p>
										<a href="#!" class="btn btn-main">Add To Cart</a>
										<a href="{% url 'product_details' product.id %}" class="btn btn-transparent">View Product Details</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>
	</div>
</section>






{% endblock body %}