{% extends "base.html" %}
{% load static %}
{% block title %}
Cart
{% endblock title %}
{% block body %}


<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="page-name">Cart</h1>
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li class="active">cart</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>



<div class="page-wrapper">
    <div class="cart shopping">
        <div class="container">
            <div class="row">
                <div class="col-md-9 px-5">
                    <div class="block">
                        <div class="product-list">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="">Item Name</th>
                                        <th class="">Quantity</th>
                                        <th class="">Item Price</th>
                                        <th class="">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cart_item in cart_items %}
                                    <tr class="">
                                        <td class="">
                                            <div class="product-info d-flex align-items-center">
                                                <img width="80" src="{{cart_item.product.image.url}}" alt="" />
                                                <div class="d-flex flex-column ">
                                                    <a
                                                        href="{% url 'product_details' cart_item.product.id %}">{{cart_item.product.name}}</a>
                                                    <p class="text-muted small mt-2 ms-4">Color: Red <br> Size: Large
                                                    </p>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="">
                                            <div class="quantity-controls">
                                                <a href="{% url 'decrement_cart' cart_item.product.id %}" class="btn btn-dark decrement-btn"><i
                                                        class="fas fa-minus"></i></a>
                                                <input type="text" class="form-control text-center quantity-input"
                                                    value="{{cart_item.quantity}}" readonly />
                                                <a href="{% url 'add_to_cart' cart_item.product.id %}" class="btn btn-dark increment-btn"><i
                                                        class="fas fa-plus"></i></a>
                                            </div>
                                        </td>
                                        <td class="">
                                            <div class="d-flex flex-column">
                                                ${{cart_item.sub_total}}
                                                <span class="text-muted small">${{cart_item.product.price}} each</span>
                                            </div>
                                            
                                        </td>
                                        <td class="">
                                            <a class="btn btn-outline-danger" href="{% url 'delete_cart' cart_item.product.id %}">Remove</a>
                                        </td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-checkout-details">
                        <div class="block">
                            <h4 class="widget-title">Cart Summary</h4>
                            <ul class="summary-prices">
                                <li>
                                    <span>Subtotal:</span>
                                    <span class="price">${{total}}</span>
                                </li>
                                <li>
                                    <span>Shipping:</span>
                                    <span>{{tax}}</span>
                                </li>
                            </ul>
                            <div class="summary-total">
                                <span>Total</span>
                                <span>${{grand_total}}</span>
                            </div>
                            <a href="checkout.html" class="btn btn-main mt-3 w-100">Checkout</a>
                            <a href="{% url 'product_list' %}" class="btn btn-solid-border mt-3 w-100">Continue Shopping</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}