{% extends "base.html" %}
{% load static %}
{% block title %}
Cart
{% endblock title %}
{% block body %}


<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="page-name">Cart</h1>
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li class="active">cart</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>



<div class="page-wrapper">
    <div class="cart shopping">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="block">
                        <div class="product-list">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="">Item Name</th>
                                            <th class="">Quantity</th>
                                            <th class="">Item Price</th>
                                            <th class="">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="">
                                            <td class="">
                                                <div class="product-info">
                                                    <img width="80" src="{% static 'images/shop/cart/cart-1.jpg' %}" alt="" />
                                                    <a href="#!">Sunglass</a>
                                                </div>
                                            </td>
                                            <td class="">
                                                <div class="quantity-controls">
                                                    <button class="btn btn-dark decrement-btn"
                                                        ><i class="fas fa-minus"></i></button>
                                                    <input type="text" class="form-control text-center quantity-input"
                                                        value="1" readonly />
                                                    <button class="btn btn-dark increment-btn"
                                                        ><i class="fas fa-plus"></i></button>
                                                </div>
                                            </td>
                                            <td class="">$200.00</td>
                                            <td class="">
                                                <a class="product-remove" href="#!">Remove</a>
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>

                                <a href="checkout.html" class="btn btn-main pull-right">Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}